In [1]:
#introduction to gensim
import pprint

In [90]:
document = "The term data science science has appeared in various contexts over the past thirty years but did not become an established term until recently. In an early usage, it was used as a substitute for computer science by Peter Naur in 1960. Naur later introduced the term datalogy.[7] In 1974, Naur published Concise Survey of Computer Methods, which freely used the term data science in its survey of the contemporary data processing methods that are used in a wide range of applications.The modern definition of data science was first sketched during the second Japanese-French statistics symposium organized at the University of Montpellier II (France) in 1992[8]. The attendees acknowledged the emergence of a new discipline with a specific focus on data from various origins, dimensions, types and structures. They shaped the contour of this new science based on established concepts and principles of statistics and data analysis with the extensive use of the increasing power of computer tools.In 1996, members of the International Federation of Classification Societies (IFCS) met in Kobe for their biennial conference. Here, for the first time, the term data science is included in the title of the conference Data Science, classification, and related methods after the term was introduced in a roundtable discussion by Chikio Hayashi.[3]In November 1997, C.F. Jeff Wu gave the inaugural lecture entitled Statistics = Data Science for his appointment to the H. C. Carver Professorship at the University of Michigan.[11] In this lecture, he characterized statistical work as a trilogy of data collection, data modeling and analysis, and decision making. In his conclusion, he initiated the modern, non-computer science, usage of the term data science and advocated that statistics be renamed data science and statisticians data scientists.[10] Later, he presented his lecture entitled Statistics = Data Science? as the first of his 1998 P.C. Mahalanobis Memorial Lectures.[12] These lectures honor Prasanta Chandra Mahalanobis, an Indian scientist and statistician and founder of the Indian Statistical Institute.In 2001, William S. Cleveland introduced data science as an independent discipline, extending the field of statistics to incorporate advances in computing with data in his article Data Science: An Action Plan for Expanding the Technical Areas of the Field of Statistics, which was published in Volume 69, No. 1, of the April 2001 edition of the International Statistical Review / Revue Internationale de Statistique.[13] In his report, Cleveland establishes six technical areas which he believed to encompass the field of data science: multidisciplinary investigations, models and methods for data, computing with data, pedagogy, tool evaluation, and theory."
stopWords = set('for a of the and to in , . !'.split(' '))
document = document.lower().split('.')
text = [[word for word in statement.split(' ') if word not in stopWords]for statement in document]

In [91]:
text

[['term',
  'data',
  'science',
  'science',
  'has',
  'appeared',
  'various',
  'contexts',
  'over',
  'past',
  'thirty',
  'years',
  'but',
  'did',
  'not',
  'become',
  'an',
  'established',
  'term',
  'until',
  'recently'],
 ['',
  'an',
  'early',
  'usage,',
  'it',
  'was',
  'used',
  'as',
  'substitute',
  'computer',
  'science',
  'by',
  'peter',
  'naur',
  '1960'],
 ['', 'naur', 'later', 'introduced', 'term', 'datalogy'],
 ['[7]',
  '1974,',
  'naur',
  'published',
  'concise',
  'survey',
  'computer',
  'methods,',
  'which',
  'freely',
  'used',
  'term',
  'data',
  'science',
  'its',
  'survey',
  'contemporary',
  'data',
  'processing',
  'methods',
  'that',
  'are',
  'used',
  'wide',
  'range',
  'applications'],
 ['modern',
  'definition',
  'data',
  'science',
  'was',
  'first',
  'sketched',
  'during',
  'second',
  'japanese-french',
  'statistics',
  'symposium',
  'organized',
  'at',
  'university',
  'montpellier',
  'ii',
  '(france)',
  '1992[8]'],
 ['',
  'attendees',
  'acknowledged',
  'emergence',
  'new',
  'discipline',
  'with',
  'specific',
  'focus',
  'on',
  'data',
  'from',
  'various',
  'origins,',
  'dimensions,',
  'types',
  'structures'],
 ['',
  'they',
  'shaped',
  'contour',
  'this',
  'new',
  'science',
  'based',
  'on',
  'established',
  'concepts',
  'principles',
  'statistics',
  'data',
  'analysis',
  'with',
  'extensive',
  'use',
  'increasing',
  'power',
  'computer',
  'tools'],
 ['1996,',
  'members',
  'international',
  'federation',
  'classification',
  'societies',
  '(ifcs)',
  'met',
  'kobe',
  'their',
  'biennial',
  'conference'],
 ['',
  'here,',
  'first',
  'time,',
  'term',
  'data',
  'science',
  'is',
  'included',
  'title',
  'conference',
  'data',
  'science,',
  'classification,',
  'related',
  'methods',
  'after',
  'term',
  'was',
  'introduced',
  'roundtable',
  'discussion',
  'by',
  'chikio',
  'hayashi'],
 ['[3]in', 'november', '1997,', 'c'],
 ['f'],
 ['',
  'jeff',
  'wu',
  'gave',
  'inaugural',
  'lecture',
  'entitled',
  'statistics',
  '=',
  'data',
  'science',
  'his',
  'appointment',
  'h'],
 ['', 'c'],
 ['', 'carver', 'professorship', 'at', 'university', 'michigan'],
 ['[11]',
  'this',
  'lecture,',
  'he',
  'characterized',
  'statistical',
  'work',
  'as',
  'trilogy',
  'data',
  'collection,',
  'data',
  'modeling',
  'analysis,',
  'decision',
  'making'],
 ['',
  'his',
  'conclusion,',
  'he',
  'initiated',
  'modern,',
  'non-computer',
  'science,',
  'usage',
  'term',
  'data',
  'science',
  'advocated',
  'that',
  'statistics',
  'be',
  'renamed',
  'data',
  'science',
  'statisticians',
  'data',
  'scientists'],
 ['[10]',
  'later,',
  'he',
  'presented',
  'his',
  'lecture',
  'entitled',
  'statistics',
  '=',
  'data',
  'science?',
  'as',
  'first',
  'his',
  '1998',
  'p'],
 ['c'],
 ['', 'mahalanobis', 'memorial', 'lectures'],
 ['[12]',
  'these',
  'lectures',
  'honor',
  'prasanta',
  'chandra',
  'mahalanobis,',
  'an',
  'indian',
  'scientist',
  'statistician',
  'founder',
  'indian',
  'statistical',
  'institute'],
 ['2001,', 'william', 's'],
 ['',
  'cleveland',
  'introduced',
  'data',
  'science',
  'as',
  'an',
  'independent',
  'discipline,',
  'extending',
  'field',
  'statistics',
  'incorporate',
  'advances',
  'computing',
  'with',
  'data',
  'his',
  'article',
  'data',
  'science:',
  'an',
  'action',
  'plan',
  'expanding',
  'technical',
  'areas',
  'field',
  'statistics,',
  'which',
  'was',
  'published',
  'volume',
  '69,',
  'no'],
 ['',
  '1,',
  'april',
  '2001',
  'edition',
  'international',
  'statistical',
  'review',
  '/',
  'revue',
  'internationale',
  'de',
  'statistique'],
 ['[13]',
  'his',
  'report,',
  'cleveland',
  'establishes',
  'six',
  'technical',
  'areas',
  'which',
  'he',
  'believed',
  'encompass',
  'field',
  'data',
  'science:',
  'multidisciplinary',
  'investigations,',
  'models',
  'methods',
  'data,',
  'computing',
  'with',
  'data,',
  'pedagogy,',
  'tool',
  'evaluation,',
  'theory'],
 ['']]

In [92]:
from collections import defaultdict
frequency = defaultdict(int)
for sentence in text:
    for word in sentence:
        frequency[word] += 1

In [93]:
print(frequency)

defaultdict(<class 'int'>, {'term': 7, 'data': 19, 'science': 11, 'has': 1, 'appeared': 1, 'various': 2, 'contexts': 1, 'over': 1, 'past': 1, 'thirty': 1, 'years': 1, 'but': 1, 'did': 1, 'not': 1, 'become': 1, 'an': 5, 'established': 2, 'until': 1, 'recently': 1, '': 13, 'early': 1, 'usage,': 1, 'it': 1, 'was': 4, 'used': 3, 'as': 4, 'substitute': 1, 'computer': 3, 'by': 2, 'peter': 1, 'naur': 3, '1960': 1, 'later': 1, 'introduced': 3, 'datalogy': 1, '[7]': 1, '1974,': 1, 'published': 2, 'concise': 1, 'survey': 2, 'methods,': 1, 'which': 3, 'freely': 1, 'its': 1, 'contemporary': 1, 'processing': 1, 'methods': 3, 'that': 2, 'are': 1, 'wide': 1, 'range': 1, 'applications': 1, 'modern': 1, 'definition': 1, 'first': 3, 'sketched': 1, 'during': 1, 'second': 1, 'japanese-french': 1, 'statistics': 6, 'symposium': 1, 'organized': 1, 'at': 2, 'university': 2, 'montpellier': 1, 'ii': 1, '(france)': 1, '1992[8]': 1, 'attendees': 1, 'acknowledged': 1, 'emergence': 1, 'new': 2, 'discipline': 1, 'with': 4, 'specific': 1, 'focus': 1, 'on': 2, 'from': 1, 'origins,': 1, 'dimensions,': 1, 'types': 1, 'structures': 1, 'they': 1, 'shaped': 1, 'contour': 1, 'this': 2, 'based': 1, 'concepts': 1, 'principles': 1, 'analysis': 1, 'extensive': 1, 'use': 1, 'increasing': 1, 'power': 1, 'tools': 1, '1996,': 1, 'members': 1, 'international': 2, 'federation': 1, 'classification': 1, 'societies': 1, '(ifcs)': 1, 'met': 1, 'kobe': 1, 'their': 1, 'biennial': 1, 'conference': 2, 'here,': 1, 'time,': 1, 'is': 1, 'included': 1, 'title': 1, 'science,': 2, 'classification,': 1, 'related': 1, 'after': 1, 'roundtable': 1, 'discussion': 1, 'chikio': 1, 'hayashi': 1, '[3]in': 1, 'november': 1, '1997,': 1, 'c': 3, 'f': 1, 'jeff': 1, 'wu': 1, 'gave': 1, 'inaugural': 1, 'lecture': 2, 'entitled': 2, '=': 2, 'his': 6, 'appointment': 1, 'h': 1, 'carver': 1, 'professorship': 1, 'michigan': 1, '[11]': 1, 'lecture,': 1, 'he': 4, 'characterized': 1, 'statistical': 3, 'work': 1, 'trilogy': 1, 'collection,': 1, 'modeling': 1, 'analysis,': 1, 'decision': 1, 'making': 1, 'conclusion,': 1, 'initiated': 1, 'modern,': 1, 'non-computer': 1, 'usage': 1, 'advocated': 1, 'be': 1, 'renamed': 1, 'statisticians': 1, 'scientists': 1, '[10]': 1, 'later,': 1, 'presented': 1, 'science?': 1, '1998': 1, 'p': 1, 'mahalanobis': 1, 'memorial': 1, 'lectures': 2, '[12]': 1, 'these': 1, 'honor': 1, 'prasanta': 1, 'chandra': 1, 'mahalanobis,': 1, 'indian': 2, 'scientist': 1, 'statistician': 1, 'founder': 1, 'institute': 1, '2001,': 1, 'william': 1, 's': 1, 'cleveland': 2, 'independent': 1, 'discipline,': 1, 'extending': 1, 'field': 3, 'incorporate': 1, 'advances': 1, 'computing': 2, 'article': 1, 'science:': 2, 'action': 1, 'plan': 1, 'expanding': 1, 'technical': 2, 'areas': 2, 'statistics,': 1, 'volume': 1, '69,': 1, 'no': 1, '1,': 1, 'april': 1, '2001': 1, 'edition': 1, 'review': 1, '/': 1, 'revue': 1, 'internationale': 1, 'de': 1, 'statistique': 1, '[13]': 1, 'report,': 1, 'establishes': 1, 'six': 1, 'believed': 1, 'encompass': 1, 'multidisciplinary': 1, 'investigations,': 1, 'models': 1, 'data,': 2, 'pedagogy,': 1, 'tool': 1, 'evaluation,': 1, 'theory': 1})

In [94]:
processed_corpus = [[word for word in sentence if frequency[word] >1] for sentence in text]

In [95]:
processed_corpus

[['term',
  'data',
  'science',
  'science',
  'various',
  'an',
  'established',
  'term'],
 ['', 'an', 'was', 'used', 'as', 'computer', 'science', 'by', 'naur'],
 ['', 'naur', 'introduced', 'term'],
 ['naur',
  'published',
  'survey',
  'computer',
  'which',
  'used',
  'term',
  'data',
  'science',
  'survey',
  'data',
  'methods',
  'that',
  'used'],
 ['data', 'science', 'was', 'first', 'statistics', 'at', 'university'],
 ['', 'new', 'with', 'on', 'data', 'various'],
 ['',
  'this',
  'new',
  'science',
  'on',
  'established',
  'statistics',
  'data',
  'with',
  'computer'],
 ['international', 'conference'],
 ['',
  'first',
  'term',
  'data',
  'science',
  'conference',
  'data',
  'science,',
  'methods',
  'term',
  'was',
  'introduced',
  'by'],
 ['c'],
 [],
 ['', 'lecture', 'entitled', 'statistics', '=', 'data', 'science', 'his'],
 ['', 'c'],
 ['', 'at', 'university'],
 ['this', 'he', 'statistical', 'as', 'data', 'data'],
 ['',
  'his',
  'he',
  'science,',
  'term',
  'data',
  'science',
  'that',
  'statistics',
  'data',
  'science',
  'data'],
 ['he',
  'his',
  'lecture',
  'entitled',
  'statistics',
  '=',
  'data',
  'as',
  'first',
  'his'],
 ['c'],
 ['', 'lectures'],
 ['lectures', 'an', 'indian', 'indian', 'statistical'],
 [],
 ['',
  'cleveland',
  'introduced',
  'data',
  'science',
  'as',
  'an',
  'field',
  'statistics',
  'computing',
  'with',
  'data',
  'his',
  'data',
  'science:',
  'an',
  'technical',
  'areas',
  'field',
  'which',
  'was',
  'published'],
 ['', 'international', 'statistical'],
 ['his',
  'cleveland',
  'technical',
  'areas',
  'which',
  'he',
  'field',
  'data',
  'science:',
  'methods',
  'data,',
  'computing',
  'with',
  'data,'],
 ['']]

In [96]:
from gensim import corpora

In [97]:
dictionary = corpora.Dictionary(processed_corpus)
print(dictionary)

Dictionary(46 unique tokens: ['an', 'data', 'established', 'science', 'term']...)

In [98]:
print(dictionary.token2id)

{'an': 0, 'data': 1, 'established': 2, 'science': 3, 'term': 4, 'various': 5, '': 6, 'as': 7, 'by': 8, 'computer': 9, 'naur': 10, 'used': 11, 'was': 12, 'introduced': 13, 'methods': 14, 'published': 15, 'survey': 16, 'that': 17, 'which': 18, 'at': 19, 'first': 20, 'statistics': 21, 'university': 22, 'new': 23, 'on': 24, 'with': 25, 'this': 26, 'conference': 27, 'international': 28, 'science,': 29, 'c': 30, '=': 31, 'entitled': 32, 'his': 33, 'lecture': 34, 'he': 35, 'statistical': 36, 'lectures': 37, 'indian': 38, 'areas': 39, 'cleveland': 40, 'computing': 41, 'field': 42, 'science:': 43, 'technical': 44, 'data,': 45}

In [115]:
new_doc = "indian Data scientist in india are yet to establish, science and statistics are important to them"
new_vec = dictionary.doc2bow(new_doc.lower().split())
print(new_vec)

[(1, 1), (3, 1), (21, 1), (38, 1)]

In [102]:
new_vec2 = [dictionary.doc2bow(sentence) for sentence in processed_corpus]
from pandas import DataFrame as df
pd = df(new_vec2)

In [117]:
pd

         0        1        2        3   ...       14       15       16       17
0    (0, 1)   (1, 1)   (2, 1)   (3, 2)  ...     None     None     None     None
1    (0, 1)   (3, 1)   (6, 1)   (7, 1)  ...     None     None     None     None
2    (4, 1)   (6, 1)  (10, 1)  (13, 1)  ...     None     None     None     None
3    (1, 2)   (3, 1)   (4, 1)   (9, 1)  ...     None     None     None     None
4    (1, 1)   (3, 1)  (12, 1)  (19, 1)  ...     None     None     None     None
5    (1, 1)   (5, 1)   (6, 1)  (23, 1)  ...     None     None     None     None
6    (1, 1)   (2, 1)   (3, 1)   (6, 1)  ...     None     None     None     None
7   (27, 1)  (28, 1)     None     None  ...     None     None     None     None
8    (1, 2)   (3, 1)   (4, 2)   (6, 1)  ...     None     None     None     None
9   (30, 1)     None     None     None  ...     None     None     None     None
10     None     None     None     None  ...     None     None     None     None
11   (1, 1)   (3, 1)   (6, 1)  (21, 1)  ...     None     None     None     None
12   (6, 1)  (30, 1)     None     None  ...     None     None     None     None
13   (6, 1)  (19, 1)  (22, 1)     None  ...     None     None     None     None
14   (1, 2)   (7, 1)  (26, 1)  (35, 1)  ...     None     None     None     None
15   (1, 3)   (3, 2)   (4, 1)   (6, 1)  ...     None     None     None     None
16   (1, 1)   (7, 1)  (20, 1)  (21, 1)  ...     None     None     None     None
17  (30, 1)     None     None     None  ...     None     None     None     None
18   (6, 1)  (37, 1)     None     None  ...     None     None     None     None
19   (0, 1)  (36, 1)  (37, 1)  (38, 2)  ...     None     None     None     None
20     None     None     None     None  ...     None     None     None     None
21   (0, 2)   (1, 3)   (3, 1)   (6, 1)  ...  (41, 1)  (42, 2)  (43, 1)  (44, 1)
22   (6, 1)  (28, 1)  (36, 1)     None  ...     None     None     None     None
23   (1, 1)  (14, 1)  (18, 1)  (25, 1)  ...     None     None     None     None
24   (6, 1)     None     None     None  ...     None     None     None     None

[25 rows x 18 columns]