In [4]:
import pandas as pd

In [5]:
print('yes')

yes

In [7]:
train = pd.read_csv('Train.csv')

In [9]:
print(train.head())

   EmpID  EmpName LanguageOfCommunication  Age  Gender  \
0  11041     John                 English   35    Male
1  15079  William                 English   26    Male
2  18638    James                 English   36  Female
3   3941  Charles                 English   29  Female
4   5936   George                 English   25    Male

  JobProfileIDApplyingFor HighestDegree             DegreeBranch  \
0                 JR85289        B.Tech               Electrical
1                 JR87525        B.Tech  Artificial Intelligence
2                 JR87525           PhD         Computer Science
3                 JR87525           BCA   Information Technology
4                 JR70175   Dual M.Tech         Computer Science

  GraduatingInstitute  LatestDegreeCGPA  ...  CurrentCTC  ExpectedCTC  \
0              Tier 1                 7  ...          21           26
1              Tier 3                 7  ...          15           19
2              Tier 1                 6  ...          15           24
3              Tier 2                 5  ...          16           24
4              Tier 3                 8  ...          24           32

   MartialStatus  EmpScore CurrentDesignation  CurrentCompanyType  \
0        Married         5                SSE          Enterprise
1        Married         5                 BA            MidSized
2         Single         5                SDE            MidSized
3        Married         5                SDE             Startup
4        Married         5                SDE          Enterprise

  DepartmentInCompany TotalLeavesTaken BiasInfluentialFactor  FitmentPercent
0              Design               20      YearsOfExperince           95.40
1         Engineering                6                   NaN           67.09
2         Engineering               19                Gender           91.26
3             Product               16                Gender           72.29
4         Engineering               10          DegreeBranch           86.34

[5 rows x 22 columns]