In [1]:
# so a set is collection of unique elements.
# it can be realted to set in mathematics, which we would have learned in our early days.

# to create a new set
set1 = set()

In [2]:
set1

set()

In [4]:
# so it is an empty set, now let's see how to add elements to it, well it is very similar
set1.add(1)
set1.add(20)
set1.add(5)

In [5]:
set1

{1, 5, 20}

In [6]:
# so now  it can be seen that the elements are added to the set 
# now let us see what actually makes a set unique
set1.add(20)
print(set1) # now we are expecting {1, 5, 20, 20}

{1, 20, 5}

In [7]:
# but it can be seen that the set actually doesn;t take multiple copies of an element.
# so now let us iterate over a list

for i in set1:
    print(i)

1
20
5

In [8]:
# yep notice how the order in which the list are printed are not the same as we entered.
# now let us solve a problem where we want to find the sum of unique elements in a list:

given_list= [1, 2, 3,4, 1, 2, 3]
set2 = set(given_list)

In [9]:
set2

{1, 2, 3, 4}

In [10]:
list1 = list(set2)

In [11]:
sum(list1)

10

In [12]:
# so there we go , things get interesting with the manipulations we can do with the sets, like union, interesection

In [13]:
# Let us look at union:

set1.union(set2)
# so the unique elements in the set are 1, 2, 3, 4, 5, 20 as set1 has 1, 20 , 5 while set2 has 1, 2, 3, 4, 5

{1, 2, 3, 4, 5, 20}

In [14]:
# so now into intersection

set1.intersection(set2)
# this will posibly shoe us the unique elements which are common and occur in both set so {1} is the o/p

{1}

In [19]:
# now we can see other set properties
print(set1.difference(set2))
print(set1.isdisjoint(set2))
print(set2.issubset(set1))
print(set2.issuperset(set1))
print(set1.symmetric_difference(set2))

{20, 5}
False
False
False
{2, 3, 4, 5, 20}